<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
<md-toolbar class="md-whiteframe-z1">
<h1>CT2015</h1>
</md-toolbar>

<md-list>
<md-list-item>
<md-button ng-click="sessions.go('sessions')">
<md-icon md-svg-icon="sessions" ></md-icon>
Sessions
</md-button>
</md-list-item>

<md-list-item>
<md-button ng-click="sessions.go('speakers')">
<md-icon md-svg-icon="speakers" ></md-icon>
Speakers
</md-button>
</md-list-item>
<md-list-item>
<md-button ng-click="sessions.go('plan')">
<md-icon md-svg-icon="plan" ></md-icon>
Plan
</md-button>
</md-list-item>
<md-divider></md-divider>
<md-list-item>
<md-button ng-click="sessions.go('commentaires')">
<md-icon md-svg-icon="commentaires" ></md-icon>
Commentaires
</md-button>
</md-list-item>
</md-list>

</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
  <md-content>
  <md-toolbar layout="row" class="md-whiteframe-z1">
  <md-button class="menu" hide-gt-md  ng-click="sessions.toggleMenu()" aria-label="Show Menu">
  <md-icon md-svg-icon="menu" ></md-icon>
  </md-button>
  <h1>Sessions</h1>
  </md-toolbar>
  <md-list  class="sessions">
  <md-subheader class="md-sticky">14:00</md-subheader>
  <md-list-item style="background-color:#009688">
  <div class="md-list-item-text">
    <h2>Conference 1</h2> 
    <p>Teaser blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#E91E63">
  <div class="md-list-item-text">
    <h2>Conference 2</h2>
    <p>Encore plus de blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#2196F3">
  <div class="md-list-item-text">
    <h2>Conference 3</h2>
    <p>Trop de blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#2196F3">
  <div class="md-list-item-text">
    <h2>Atelier 1</h2>
    <p>Les mains dans le blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#2196F3">
  <div class="md-list-item-text">
    <h2>Atelier 2</h2>
    <p>Les pieds dans le blah blah blah</p>
  </div>
  </md-list-item>
  <md-subheader class="md-sticky">15:00</md-subheader>
  <md-list-item style="background-color:#009688">
  <div class="md-list-item-text">
    <h2>Conference 1</h2> 
    <p>Teaser blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#E91E63">
  <div class="md-list-item-text">
    <h2>Conference 2</h2>
    <p>Encore plus de blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#2196F3">
  <div class="md-list-item-text">
    <h2>Conference 3</h2>
    <p>Trop de blah blah blah</p>
  </div>
  </md-list-item>
  <md-subheader class="md-sticky">16:00</md-subheader>
  <md-list-item style="background-color:#009688">
  <div class="md-list-item-text">
    <h2>Conference 1</h2> 
    <p>Teaser blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#E91E63">
  <div class="md-list-item-text">
    <h2>Conference 2</h2>
    <p>Encore plus de blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#2196F3">
  <div class="md-list-item-text">
    <h2>Conference 3</h2>
    <p>Trop de blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#2196F3">
  <div class="md-list-item-text">
    <h2>Atelier 1</h2>
    <p>Les mains dans le blah blah blah</p>
  </div>
  </md-list-item>
  <md-divider />
  <md-list-item style="background-color:#2196F3">
  <div class="md-list-item-text">
    <h2>Atelier 2</h2>
    <p>Les pieds dans le blah blah blah</p>
  </div>
  </md-list-item>
</md-list>
  </md-content>
</div>
